.btn {
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  font-family: galanogrotesque regular;
  font-size: 400;
  border-radius: 4px;
  cursor: pointer;
  line-height: 26px;
}

.btn--primary {
  font-family: galanogrotesque medium;
  background-color: var(--clr-primary);
  color: var(--clr-white-300);
}

.btn--ghost {
  color: var(--clr-primary);
  background-color: var(--clr-white-300);
  font-family: galanogrotesque medium;
}

.btn--link {
  padding: 0px;
  background-color: transparent;
  color: var(--clr-white-300);
}

.btn--outline {
  font-family: galanogrotesque medium;
  border: 1px solid var(--clr-primary);
  color: var(--clr-primary);
  background-color: var(--clr-white-300);
  font-size: 14px;
  line-height: 20px;
}

.btn__counter {
  font-size: 14px;
  font-family: galanogrotesque medium;
  background-color: var(--clr-white-300);
  color: var(--clr-heading);
  padding: 3px 6px;
  border-radius: 50%;
  line-height: 14px;
}

.btn__pagination {
  color: var(--clr-primary);
  font-size: 14px;
  line-height: 20px;
  font-family: galanogrotesque regular;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn__pagination--active {
  padding: 2px 9px;
  font-size: 14px;
  line-height: 20px;
  font-family: galanogrotesque regular;
  border: none;
  border-radius: 50%;
  background-color: var(--clr-primary);
  cursor: pointer;
  color: var(--clr-white-300);
}