/* margins */
.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-36 {
  margin-bottom: 36px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-52 {
  margin-bottom: 52px;
}

/* gaps */
.gap-8 {
  gap: 8px;
}

.gap-15 {
  gap: 15px;
}

.gap-32 {
  gap: 32px;
}