:root {
  /* colors */
  --clr-primary: hsl(206, 80%, 39%);
  --clr-white-100: hsl(0, 0%, 95%);
  --clr-white-200: hsl(0, 0%, 98%);
  --clr-white-300: hsl(0, 0%, 100%);
  --clr-heading: hsl(260, 11%, 11%);
  --clr-grey-100: hsl(0, 0%, 85%);
  --clr-grey-200: hsl(0, 0%, 30%);
  --clr-bg-feature: hsla(206, 80%, 39%, 0.051);
}